.monparagraphe::first-line {
  color: blue;
  font-size: 48px;
  text-transform: uppercase;
}

span::first-line {/*Pas d'action*/
  color: blue;
  font-size: 48px;
  text-transform: uppercase;
}


span {/*Action OK*/
  color: blue;
  font-size: 48px;
  text-transform: uppercase;
}