* {
    margin-left: 20px;
}

/*.body-contain {
    background-color: blueviolet;
}*/


.TitreDuFormulaire {
    font-size: 42px;
}

.form-container {
    width: 800px;
    /*background-color: aqua;*/
    display: block;

}

.zinput {
    /*background-color: red;*/
    width: 300px;
    margin: 20px;
}

.in-put {
    width: 300px;
    height: 30px;
}

.in-put-line {
    width: 630px;
    height: 30px;
}

.in-put-aera {
    width: 630px;
    height: 60px;
}

.in-put-radio {
    width: 20px;
    height: 20px;
}

.label-input-radio {
    font-size: 20px;
}

.zbutton {
    width: 100%;
    margin-left: 25%;/*C'est le bouton qu'il fallait déplacer à gauche e tnon son contenant !*/
    margin-top: 20px;
    /*background-color: red;*/
   
}

.BtnSubmit {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.BtnSubmit:hover {
    background-color: rgb(49, 49, 49);
    font-size: 18px;
}

input::placeholder, textarea::placeholder {
  font-weight: bold;
  font-size: 16px;
  opacity: 0.5;
  color: rgb(82, 82, 82);
}

input, textarea {
    font-size: 22px;
}