
.container-bouton {
    width: 300px;
    border: solid,1px,rgb(223, 223, 223);
    border-radius: 15px;
}

.div-menu {
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    margin: 4px;
}


.div-menu:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.aLienBouton {
        font-size: 20px;
        text-decoration: none;
        color: black;
}