* {
margin: 0;
}


#entete {
    background-color: #FF7B0E;
    width: 100%;
    height: 100px;

    text-align: center;
}

body {

    justify-content: space-around;

    background-image: url('../images/FOND_2.jpg');
    background-repeat: no-repeat;

}

.titre1, .titre2 {
    color: white;
    font-weight: bold;
}


.titre1 {
    font-size: 34px;
}

.titre2 {
    font-size: 28px;
}


