.container {
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    /*color: white;*/
}

img {
    width: 300px;
    /*background-color: yellow;*/
}

.boite {
    width: 300px;
    height: 400px;
    /*background-color: blue;*/
}

.titre {
    font-weight: bold;
}

.description {
   /* background-color: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
}

.zbtn {
    width: 100%;
    text-align: center;
}

.btnVoirPlus {
    background-color: orange;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 140px;
    /**/
}